.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 20px;
  max-width: 560px;
  padding: 10px;
}

.label {
  margin-bottom: 15px;
}

.input {
  max-width: 200px;
  padding: 7px;
  border: 1px solid #87878d6c;
  border-radius: 4px;
  margin-bottom: 15px;
}
